@font-face {
  font-family: "bookplate";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Bookplate.woff") format("woff"), url("../fonts/Bookplate.ttf") format("truetype"), url("../fonts/Bookplate.svg#bookplate") format("svg");
}
@font-face {
  font-family: "bookplate";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Bookplate_Italic.woff") format("woff"), url("../fonts/Bookplate_Italic.ttf") format("truetype"), url("../fonts/Bookplate_Italic.svg#bookplate") format("svg");
}
@font-face {
  font-family: "bookplate";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Bookplate_Bold.woff") format("woff"), url("../fonts/Bookplate_Bold.ttf") format("truetype"), url("../fonts/Bookplate_Bold.svg#bookplate") format("svg");
}
@font-face {
  font-family: "bookplate";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Bookplate_Bold_Italic.woff") format("woff"), url("../fonts/Bookplate_Bold_Italic.ttf") format("truetype"), url("../fonts/Bookplate_Bold_Italic.svg#bookplate") format("svg");
}
@font-face {
  font-family: "futura";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Futura_Book.ttf") format("truetype");
}
@font-face {
  font-family: "futura";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Futura_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "futura";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Futura_Medium.ttf") format("truetype");
}
@font-face {
  font-family: "futura";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Futura_Heavy.ttf") format("truetype");
}
.hero h2, body, h4, h3, h2, h1 {
  margin: 0;
  padding: 0;
}

.whatIDo, .skills, .hero {
  height: 100vh;
  width: 88vw;
  /* Have to account for the 12vw left padding on all the section divs */
}

input,
textarea {
  background: none;
  border: 0.4vw solid #464646;
  width: 30vw;
  height: 3vw;
  margin-bottom: 2vw;
  padding-left: 1vw;
  font-family: futura;
  font-size: 2vw;
  color: #464646;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea {
  height: 10vw;
  padding-top: 1vw;
  font-family: futura;
  font-size: 2vw;
  color: #464646;
}

::placeholder {
  font-family: futura;
  font-size: 2vw;
  color: #464646;
  opacity: 1;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  input,
textarea {
    border: 0.75vw solid #464646;
  }
}
h1 {
  font-family: bookplate;
  padding-top: 14vw;
  font-size: 8vw;
  color: #464646;
}

h2 {
  font-family: bookplate;
  padding-top: 8vw;
  font-size: 4vw;
  color: #464646;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h1 {
    font-size: 12vw;
    padding-top: 30vw;
  }

  h2 {
    padding-top: 10vw;
    font-size: 8vw;
  }
}
a,
a:link,
a:visited {
  color: #F0C562;
  text-decoration: none;
}

a:hover,
a:active {
  color: #F0C562;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: #464646;
  text-align: left;
  overflow-x: hidden;
  position: relative;
}

.backToTop {
  display: none;
  position: fixed;
  bottom: 6.5vw;
  right: 2vw;
  z-index: 99;
  font-size: 3vw;
  color: #464646;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .backToTop {
    display: none;
  }
}
.getInTouch {
  background-color: #F0C562;
  height: auto;
  width: 100%;
  padding-bottom: 4vw;
  padding-left: 12vw;
}

#contactForm {
  margin-top: 3vw;
}

.getInTouch button {
  background: none;
  border: 0.4vw solid #464646;
  height: 3.5vw;
  width: 10vw;
  font-family: futura;
  font-size: 1.75vw;
  color: #464646;
  cursor: pointer;
}

.getInTouch button:hover {
  background-color: #464646;
  color: #F0C562;
}

.social {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: repeat(4, 3vw);
  grid-template-rows: 3vw;
  column-gap: 1vw;
}

.socialSquare {
  border: 0.25vw solid #464646;
  font-size: 1.75vw;
  text-align: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialSquare:hover {
  background-color: #464646;
  font-size: 1.75vw;
}

.social a,
.social a:link,
.social a:visited,
.social a:hover,
.social a:active {
  color: #464646;
  text-decoration: none;
}

.socialSquare:hover a,
.socialSquare:hover a:link,
.socialSquare:hover a:visited,
.socialSquare:hover a:hover,
.socialSquare:hover a:active {
  color: #F0C562;
  text-decoration: none;
}

.colophon {
  font-family: futura;
  font-size: smaller;
  color: #464646;
  margin-top: 3vw;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .getInTouch {
    padding-bottom: 8vw;
  }

  input,
textarea {
    width: 70vw;
    height: 7vw;
    margin-bottom: 4vw;
    font-size: 5vw;
  }

  textarea {
    height: 15vw;
    font-size: 5vw;
  }

  .getInTouch button {
    height: 12vw;
    width: 30vw;
    font-size: 5vw;
    border: 0.75vw solid #464646;
  }

  ::placeholder {
    font-size: 5vw;
  }

  .social {
    margin-top: 4vw;
    grid-template-columns: repeat(4, 9vw);
    grid-template-rows: 9vw;
    column-gap: 5vw;
  }

  .socialSquare {
    border: 0.75vw solid #464646;
    font-size: 5vw;
  }

  .colophon {
    margin-top: 5vw;
  }
}
.hero {
  background-color: #F0C562;
  padding-left: 12vw;
  position: relative;
}

.hero h1 {
  -webkit-animation: fadeIn 2s;
}

.hero h2 {
  -webkit-animation: alsoFadeIn 4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes alsoFadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hamburger,
.hamburgerClose {
  position: absolute;
  top: 2vw;
  right: 2vw;
  font-size: 3vw;
  cursor: pointer;
}

nav {
  font-family: futura;
  font-size: 3vw;
  width: 30vw;
  height: 100%;
  background-color: #464646;
  position: fixed;
  top: 0;
  right: -30vw;
  color: #F0C562;
  transition: 0.4s ease-in-out;
}

nav ul {
  margin-left: 4vw;
  margin-top: 5vw;
}

nav li {
  margin-bottom: 1vw;
}

.downArrow {
  position: absolute;
  font-size: 3vw;
  bottom: 2vw;
  left: 50%;
  animation: downArrowFadeIn 5s, bounce 1.5s infinite linear;
  transform-origin: bottom;
}

.downArrow a,
.downArrow a:link,
.downArrow a:visited,
.downArrow a:hover,
.downArrow a:active {
  color: #464646;
  text-decoration: none;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2vw);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes downArrowFadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .hero {
    height: 110vw;
  }

  .hero h2 {
    font-size: 8vw;
  }

  .hamburger,
.hamburgerClose {
    top: 7vw;
    right: 7vw;
    font-size: 7vw;
  }

  nav {
    font-size: 8vw;
    width: 70vw;
    right: -70vw;
  }

  nav ul {
    margin-left: 7vw;
    margin-top: 20vw;
  }

  nav li {
    margin-bottom: 5vw;
  }

  .downArrow {
    display: none;
  }
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  text-align: center;
  padding-top: 8vw;
}

.thanks {
  width: 25vw;
  height: auto;
  background-color: #F0C562;
  margin: auto;
  padding: 3vw 2vw;
  color: #464646;
  font-size: 2vw;
}

.thanks h2 {
  font-family: futura;
  padding: 0;
}

.thanks h3 {
  font-family: futura;
  font-weight: normal;
}

.thanks button {
  background: none;
  border: 0.4vw solid #464646;
  height: 3vw;
  width: 6vw;
  font-family: futura;
  font-size: 1.75vw;
  color: #464646;
  cursor: pointer;
  margin-top: 2vw;
}

.thanks button:hover {
  background-color: #464646;
  color: #F0C562;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .overlay {
    padding-top: 50vw;
  }

  .thanks {
    width: 70vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .thanks h2 {
    font-size: 4em;
  }

  .thanks h3 {
    font-size: 3em;
  }

  .thanks button {
    height: 7vw;
    width: 10vw;
    font-size: 3.5vw;
  }
}
.grecaptcha-badge {
  visibility: collapse !important;
}

.skills {
  background-color: #464646;
  color: #F0C562;
  padding-left: 12vw;
}

.skills h2 {
  color: #F0C562;
}

#skillsGrid {
  display: grid;
  grid-template-columns: 5vw 35vw 5vw 35vw;
  grid-template-rows: repeat(6, auto);
  row-gap: 1.5vw;
  align-items: center;
  font-family: futura;
  font-size: 2.5vw;
  letter-spacing: 0.05em;
  margin-top: 2.5vw;
}

.fa-circle {
  font-size: 1vw;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .skills {
    height: auto;
    padding-bottom: 8vw;
  }

  #skillsGrid {
    grid-template-columns: 5vw 40vw 5vw 35vw;
    row-gap: 3vw;
    font-size: 5vw;
  }

  .fa-circle {
    font-size: 2vw;
  }
}
.whatIDo {
  padding-left: 12vw;
}

.whatIDoIcons {
  font-size: 3.5vw;
}

#whatIDoGrid {
  display: grid;
  grid-template-columns: 8vw 65vw;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  font-family: futura;
  font-weight: bold;
  font-size: 2.5vw;
  margin-top: 1vw;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .whatIDo {
    height: auto;
    padding-bottom: 8vw;
  }

  .whatIDoIcons {
    font-size: 8vw;
  }

  #whatIDoGrid {
    grid-template-columns: 16vw 60vw;
    font-size: 5vw;
  }
}
.work {
  width: 100%;
  padding-left: 12vw;
  padding-bottom: 8vw;
}

#workGrid {
  display: grid;
  grid-template-columns: 35vw 38vw;
  grid-template-rows: repeat(4, auto);
  gap: 6vw;
  align-items: center;
  font-family: futura;
  font-size: 1.75vw;
  letter-spacing: 0.05em;
  margin-top: 2.5vw;
}

.webScreenshots img {
  width: 35vw;
  height: auto;
  border: 0.3vw solid #464646;
}

.mobileScreenshots {
  width: 35vw;
  text-align: center;
}

.mobileScreenshots img {
  width: 12vw;
  height: auto;
  border: 0.3vw solid #464646;
}

.hunnybee {
  font-size: 1vw;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #workGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    gap: 6vw;
    font-size: 4vw;
    letter-spacing: 0.05em;
    margin-top: 5vw;
  }

  #workGrid p {
    max-width: 70vw;
  }

  .webScreenshots img {
    width: 70vw;
    height: auto;
    border: 2px solid #464646;
  }

  .mobileScreenshots {
    width: 70vw;
    text-align: left;
  }

  .mobileScreenshots img {
    width: 24vw;
    height: auto;
    border: 2px solid #464646;
  }

  .hunnybee {
    font-size: 3vw;
  }
}

/*# sourceMappingURL=main.css.map */
