.backToTop {
    display: none;
    position: fixed;
    bottom: 6.5vw;
    right: 2vw;
    z-index: 99;
    font-size: 3vw;
    color: $gray;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

@media only screen and (min-device-width : $smartphone-breakpoint-landscape) and (max-device-width : $smartphone-breakpoint-portrait) {
    .backToTop {
        display: none;
    }
}