.getInTouch {
    background-color: $yellow;
    height: auto;
    width: 100%;
    padding-bottom: 4vw;
    padding-left: 12vw;
}

#contactForm {
    margin-top: 3vw;
}

.getInTouch button {
    background: none;
    border: 0.4vw solid $gray;
    height: 3.5vw;
    width: 10vw;
    font-family: futura;
    font-size: 1.75vw;
    color: $gray;
    cursor: pointer;
}

.getInTouch button:hover {
    background-color: $gray;
    color: $yellow;
}

.social {
    margin-top: 2vw;
    display: grid;
    grid-template-columns: repeat(4, 3vw);
    grid-template-rows: 3vw;
    column-gap: 1vw;
}

.socialSquare {
    border: 0.25vw solid $gray;
    font-size: 1.75vw;
    text-align: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialSquare:hover {
    background-color: $gray;
    font-size: 1.75vw;
}

.social a,
.social a:link,
.social a:visited,
.social a:hover, 
.social a:active {
    color: $gray;
    text-decoration: none;
}   

.socialSquare:hover a,
.socialSquare:hover a:link,
.socialSquare:hover a:visited,
.socialSquare:hover a:hover, 
.socialSquare:hover a:active {
    color: $yellow;
    text-decoration: none;
}

.colophon {
    font-family: futura;
    font-size: smaller;
    color: $gray;
    margin-top: 3vw;
}

@media only screen and (min-device-width : $smartphone-breakpoint-landscape) and (max-device-width : $smartphone-breakpoint-portrait) {
    .getInTouch {
        padding-bottom: 8vw;
    }

    input,
    textarea {
        width: 70vw;
        height: 7vw;
        margin-bottom: 4vw;
        font-size: 5vw;
    }

    textarea {
        height: 15vw;
        font-size: 5vw;
    }

    .getInTouch button {
        height: 12vw;
        width: 30vw;
        font-size: 5vw;
        border: 0.75vw solid $gray;
    }

    ::placeholder {
        font-size: 5vw;
    }

    .social {
        margin-top: 4vw;
        grid-template-columns: repeat(4, 8vw);
        grid-template-rows: 8vw;
        column-gap: 5vw;
    }

    .socialSquare {
        border: 0.75vw solid $gray;
        font-size: 4vw;
    }

    .colophon {
        margin-top: 4vw;
    }
}    