.whatIDo {
    @extend %full-height-full-width;
    padding-left: 12vw;
}

.whatIDoIcons {
    font-size: 3.5vw;
}

#whatIDoGrid {
    display: grid;
    grid-template-columns: 8vw 65vw;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    font-family: futura;
    font-weight: bold;
    font-size: 2.5vw;
    margin-top: 1vw;
}

@media only screen and (min-device-width: $smartphone-breakpoint-portrait) 
        and (max-device-height: $smartphone-breakpoint-landscape) 
        and (orientation: portrait) {
    .whatIDo {
        height: auto;
        padding-bottom: 8vw;
    }

    .whatIDoIcons {
        font-size: 8vw;
    }

    #whatIDoGrid {
        grid-template-columns: 16vw 60vw;
        font-size: 5vw;
    }
}

@media only screen and (min-device-width: $smartphone-breakpoint-portrait) 
        and (max-device-height: $smartphone-breakpoint-landscape) 
        and (orientation: landscape) {
    .whatIDo {
        height: auto;
        padding-bottom: 8vw;
    }

    .whatIDoIcons {
        font-size: 5vw;
    }

    #whatIDoGrid {
        grid-template-columns: 10vw 60vw;
    }

}

@media only screen and (min-device-width: $tablet-breakpoint-portrait) 
        and (max-device-height: $tablet-breakpoint-landscape) 
        and (orientation: portrait) {
    .whatIDo {
        height: auto;
        padding-bottom: 8vw;
    }

    .whatIDoIcons {
        font-size: 5.5vw;
    }

    #whatIDoGrid {
        grid-template-columns: 10vw 60vw;
        font-size: 3vw;
    }
}

@media only screen and (min-device-width: $tablet-breakpoint-portrait) 
        and (max-device-height: $tablet-breakpoint-landscape) 
        and (orientation: landscape) {
    .whatIDo {
        height: auto;
        padding-bottom: 8vw;
    }

    .whatIDoIcons {
        font-size: 5.5vw;
    }

    #whatIDoGrid {
        grid-template-columns: 10vw 60vw;
        font-size: 3vw;
    }
}