input,
textarea {
    background: none;
    border: 0.4vw solid $gray;
    width: 30vw;
    height: 3vw;
    margin-bottom: 2vw;
    padding-left: 1vw;
    font-family: futura;
    font-size: 2vw;
    color: $gray;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea {
    height: 10vw;
    padding-top: 1vw;
    font-family: futura;
    font-size: 2vw;
    color: $gray;
}

::placeholder {
    font-family: futura;
    font-size: 2vw;
    color: $gray;
    opacity: 1;
}

@media only screen and (min-device-width : $smartphone-breakpoint-landscape) and (max-device-width : $smartphone-breakpoint-portrait) {
    input,
    textarea {
        border: 0.75vw solid $gray;
    }
}